html {

}

body {
  background-color: #eeeeee;
}

.banner {
  height: 530px;
  background: 50% 59.8%;
  background-image: url('../img/banner.jpg'); 
  background-attachment: fixed;
  min-height: 100%;
/*  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
}



.site-heading {
  margin-top: 387px;
  padding-left: 80px;
  color:white;
  text-align: left;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 
}

.site-heading h1 {
  font-size: 65px;
  font-weight: 900;
  margin-bottom: -10px;
}

.site-heading .subheading {
  font-size: 30px;
  font-style: italic;
  padding-left: 80px;
  color: white;
  font-weight: 100;
}



.post {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 20px;
  border-radius: 5px;
}

.post-title {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 800;
  margin-bottom: 1em;
}

.post-text {
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  color: #404040;
  margin-bottom:1em;
  margin-top: 1em
}

.post-screenschot {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}


@media screen and (max-width: 1230px) {

.banner {
  height: 530px;
  background: 40% 59.8%;
  background-image: url('../img/banner.jpg'); 
  background-attachment: fixed;
  min-height: 100%;
/*  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
}


.site-heading h1 {
  font-size: 60px;
}

.site-heading .subheading {
  font-size: 25px;
}

}

@media screen and (max-width: 1000px) {

.site-heading {
  
}

.site-heading h1 {
  font-size: 55px;
}

.site-heading .subheading {
  font-size: 25px;
}

}

@media screen and (max-width: 720px) {

.banner {
  height: 530px;
  background: 37% 59.8%;
  background-image: url('../img/banner.jpg'); 
  background-attachment: fixed;
  min-height: 100%;
/*  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
}



.site-heading {
  margin-top: 300px;
}

.site-heading h1 {
  font-size: 90px;
}

.site-heading .subheading {
  font-size: 20px;
  padding-left: 40px;
}

}

@media screen and (max-width: 655px) {

.site-heading {
  
}

.site-heading h1 {
  font-size: 90px;
}

.site-heading .subheading {
  font-size: 20px;
}

}

@media screen and (max-width: 600px) {

.site-heading {
  padding-left: 20px;
}

.site-heading h1 {
  font-size: 90px;
}

.site-heading .subheading {
  padding-left: 10px;
}

}

@media screen and (max-width: 537px) {

.site-heading {
  padding-left: 20px;
}

.site-heading h1 {
  font-size: 80px;
}

.site-heading .subheading {
  padding-left: 10px;
}

}


@media screen and (max-width: 489px) {

.banner {
  height: 530px;
  background: 35% 59.8%;
  background-image: url('../img/banner.jpg'); 
  background-attachment: fixed;
  min-height: 100%;
/*  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
}


.site-heading {
  padding-left: 20px;
}

.site-heading h1 {
  font-size: 70px;
}

.site-heading .subheading {
  font-size: 18px;
  padding-left: 0px;
}

}


@media screen and (max-width: 430px) {

.site-heading {
  padding-left: 0px;
  margin-top: 300px;
}

.site-heading h1 {
  font-size: 60px;
}

.site-heading .subheading {
  font-size: 15px;
  font-weight: 500;

}

}

@media screen and (max-width: 370px) {


.banner {
  height: 530px;
  background: 34.5% 59.8%;
  background-image: url('../img/banner.jpg'); 
  background-attachment: fixed;
  min-height: 100%;
/*  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
}

.site-heading {
  padding-left: 0px;
  margin-top: 300px;
}

.site-heading h1 {
  font-size: 60px;
}

.site-heading .subheading {

  padding-left: 10px;
}

}








